body {
  background-color: #F8F8FF;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #20B2AA;
}

h2 {
  color: #C71585;
}

h3 {
  color: #4169E1;
}

