$colore_sfondo: #F8F8FF;
$colore_titoli: #20B2AA;
$font_family: sans-serif;
$posizione_titolo: center;

body {
    background-color: $colore_sfondo;
}
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: $posizione_titolo;
    font-family: $font_family;
    color: $colore_titoli;
}
